footer.footer
    .container
        .footer__row
            .footer__text
                span United Kingdom 
                span Nottinghamshire County 
                span Newark-on-Trent
            .footer__social
                a.footer__link(href="#")
                    img.footer__icon(src="./img/social-icon.png")
                a.footer__link(href="#")
                    img.footer__icon(src="./img/social-icon2.png")
                a.footer__link(href="#")
                    img.footer__icon(src="./img/social-icon3.png")
            .footer__logo
                span.footer__text See you later!
                

                
