footer.footer
    .container.flex
        .footer__text AOD New York 2250 Lexington Avenue New York, NY 10035  - info@domain.com
        .footer__social
            a.footer__link(href="#")
                img.footer__icon(src="src/img/social-icon.png")
            a.footer__link(href="#")
                img.footer__icon(src="src/img/social-icon2.png")
            a.footer__link(href="#")
                img.footer__icon(src="src/img/social-icon3.png")
        .footer__logo
            span.italic Handcrafted by
            img.footer__icon(src="src/img/Ylogo.png")