header.header.header__pos
    .header__row.flex
        nav.header__menu
            .menu-icon.js-menu
                span
                span
                span
            .header__menu-body.js-menu-body
                ul.header__menu-list.flex
                    li.header__menu-li
                        a.header__menu-link(href="#") About us
                    li.header__menu-li
                        a.header__menu-link(href="#") work
                    li.header__menu-li    
                        a.header__menu-link(href="#") shop
                    li.header__menu-li
                        a.header__menu-link(href="#") contact
        img.header__menu-logo.logo(src="src/img/logo3.png")
