header.header
    .header__row
        nav.header__menu
            .menu-icon.js-menu
                span.menu-icon__span
                span.menu-icon__span
                span.menu-icon__span
            .header__menu-body.js-menu-body
                ul.header__menu-list
                    li.header__menu-li
                        a.header__menu-link(href="#") About us
                    li.header__menu-li
                        a.header__menu-link(href="#") work
                    li.header__menu-li    
                        a.header__menu-link(href="#") order
                    li.header__menu-li
                        a.header__menu-link(href="#") contact
        img.logo.header__menu-logo(src="src/img/logo3.png")
