<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0  maximum-scale=1.0")
        link(rel="stylesheet", href="./styles.min.css")

        title Layout Landing Horses
    body
        .wrapper
            include header.pug
            main.page
                .main-screen
                    .main-screen__bg.ibg
                        img(src="./img/main.jpg" alt="main")
            .content
                section.generation
                    .container
                        .block
                            .block__icon
                                img.icon(src="./img/icon-horseshoe.png" alt="icon")
                            .block__title A NEW GENERATION OF thoroughbred horses
                            .block__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                section.block3parts
                    .block3parts__row
                        .block3parts__column.block3parts__column--b
                            a.block3parts__item.item(href="#")
                                span.item__logo
                                    img.item__logo-img(src="./img/logo5.png" alt="logo")
                                span.item__image.ibg
                                    img(src="./img/middle.jpg" alt="image")
                        .block3parts__column
                            .block3parts__content.block
                                .block__icon
                                    img.icon(src="./img/icon-horseshoe.png" alt="icon")
                                .block__title easy care
                                .block__text.block__text--small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                            .block3parts__img-block.ibg
                                img.block3parts__img(src="./img/middle2.jpg" alt="image")
                section.block3parts.block3parts_rev
                    .block3parts__row
                        .block3parts__column
                            .block3parts__content.block
                                .block__icon
                                    img.icon(src="./img/icon-horseshoe.png" alt="icon")
                                .block__title faithful friend
                                .block__text.block__text--small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                            .block3parts__img-block.ibg
                                img.block3parts__img(src="./img/middle3.jpg" alt="image")
                        .block3parts__column.block3parts__column--b
                            a.block3parts__item.item(href="#")
                                span.item__logo
                                    img.item__logo-img(src="./img/logo5.png" alt="logo")
                                span.item__image.ibg
                                    img(src="./img/middle4.jpg" alt="image")
                section.block3parts
                    .block3parts__row
                        .block3parts__column
                            a.block3parts__item.item(href="#")
                                span.item__logo
                                    img.item__logo-img(src="./img/logo5.png" alt="logo")
                                span.item__image.ibg
                                    img(src="./img/middle5.jpg" alt="image")
                        .block3parts__column
                            .block3parts__content.block
                                .block__icon
                                    img.icon(src="./img/icon-horseshoe.png" alt="icon")
                                .block__title long walks
                                .block__text.block__text--small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                            .block3parts__img-block.ibg
                                img.block3parts__img(src="./img/middle7.jpg" alt="image")
                        .block3parts__column
                            a.block3parts__item.item(href="#")
                                span.item__logo
                                    img.item__logo-img(src="./img/logo5.png" alt="logo")
                                span.item__image.ibg
                                    img(src="./img/middle6.jpg" alt="image")
                section.slider
                    .container
                        .js-slider
                            .slider__item.block
                                .block__icon.block__icon--m
                                    img(src="./img/icon5.png" alt="icon")
                                .block__title riding along the coast  @umo <span class="block__text italic"> /  40 min</span>
                                .block__text.block__text--b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vintage.
                            .slider__item.block
                                .block__icon.block__icon--m
                                    img(src="./img/icon5.png" alt="icon")
                                .block__title riding in a forest  @umo <span class="block__text italic"> /  35 min</span>
                                .block__text.block__text--b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                            .slider__item.block
                                .block__icon.block__icon--m
                                    img(src="./img/icon5.png" alt="icon")
                                .block__title riding along a lake  @umo <span class="block__text italic"> /  50 min</span>
                                .block__text.block__text--b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                section.block3parts.block-media
                    .block-media__row
                        .block-media__column.block3parts__column
                            .block3parts__block.block-shop
                                .block-shop__row
                                    .block-shop__column
                                        a.block-shop__item.block-shop__item--l.item(href="#")
                                            span.item__logo
                                                img.item__logo-img(src="./img/logo5.png" alt="logo")
                                                span.item__span see more
                                            span.item__image.ibg
                                                img(src="./img/middle8.jpg" alt="image")
                                    .block-shop__column
                                        a.block-shop__item.block-shop__item--l.item(href="#")
                                            span.item__logo
                                                img.item__logo-img(src="./img/logo5.png" alt="logo")
                                                span.item__span see more
                                            span.item__image.ibg
                                                img(src="./img/middle10.jpg" alt="image")
                                a.block-shop__item.item(href="#")
                                    span.item__logo
                                        img.item__logo-img(src="./img/logo5.png" alt="logo")
                                        span.item__span see more
                                    span.item__image.ibg
                                        img(src="./img/middle9.jpg" alt="image")    
                        .block-media__column.block3parts__column.block3parts__column--s
                            a.block-shop__item.block-shop__item--b.item(href="#")
                                span.item__logo
                                    img.item__logo-img(src="./img/logo5.png" alt="logo")
                                    span.item__span see more
                                span.item__image.ibg
                                    img(src="./img/middle11.jpg" alt="image")
                        .block-media__column.block3parts__column.block3parts__column--s
                            a.block-shop__item.block-shop__item--b.item(href="#")
                                span.item__logo
                                    img.item__logo-img(src="./img/logo5.png" alt="logo")
                                    span.item__span see more
                                span.item__image.ibg
                                    img(src="./img/h1.jpg" alt="image")
                        .block-media__column.block3parts__column
                            .block3parts__block.block-shop
                                a.block-shop__item.item(href="#")
                                    span.item__logo
                                        img.item__logo-img(src="./img/logo5.png" alt="logo")
                                        span.item__span see more
                                    span.item__image.ibg
                                        img(src="./img/h2.jpg" alt="image")  
                                .block-shop__row
                                    .block-shop__column
                                        a.block-shop__item.block-shop__item--l.item(href="#")
                                            span.item__logo
                                                img.item__logo-img(src="./img/logo5.png" alt="logo")
                                                span.item__span see more
                                            span.item__image.ibg
                                                img(src="./img/h3.jpg" alt="image")
                                    .block-shop__column
                                        a.block-shop__item.block-shop__item--l.item(href="#")
                                            span.item__logo
                                                img.item__logo-img(src="./img/logo5.png" alt="logo")
                                                span.item__span see more
                                            span.item__image.ibg
                                                img(src="./img/h4.jpg" alt="image") 
                    .btn    
                        a.btn__button.item__span(href="#") discover the riding
                section.form-block
                    .container
                        img.form-block__logo.logo(src="./img/logo3.png" alt="logo")
                        p.form-block__text.block__text.italic Stay on the saddle!
                        form.form-block__form.form#form(action="" method="get")
                            input.form__input(type="email" placeholder="enter your email")
                            input.form__submit(type="submit" value="GO")
            include footer.pug
        script(src="./libs.min.js")
        script(src="./script.min.js")
            




  
    
