<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        script(src="/src/js-files/jquery-3.5.0.min.js")
        script(src="/src/js-files/menu-icon.js")
        title Layout Landing Horses
    body
        .wrapper
            main.page
                include header.pug
                .main-screen 
                .content
                    section.generation
                        .container
                            .block
                                .block__icon
                                    img(src="src/img/icon.png")
                                .block__title A NEW GENERATION OF thoroughbred horses
                                .block__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    section.block3parts
                        .block3parts__row
                            .block3parts__column.block3parts__column--b
                                a.block3parts__item.item(href="#")
                                    span.item__logo
                                        img.item__logo-img(src="src/img/logo5.png")
                                    span.item__image
                                        img.item__image-img(src="src/img/middle.jpg")
                            .block3parts__column
                                .block3parts__content.block
                                    .block__icon
                                        img(src="src/img/icon2.png")
                                    .block__title vintage Oliva
                                    .block__text.block__text--small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                                .block3parts__img-block
                                    img.block3parts__img(src="src/img/middle2.jpg")
                    section.block3parts
                        .block3parts__row
                            .block3parts__column
                                .block3parts__content.block
                                    .block__icon
                                        img(src="src/img/icon3.png")
                                    .block__title La Boriosa
                                    .block__text.block__text--small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                                .block3parts__img-block
                                    img.block3parts__img(src="src/img/middle3.jpg")
                            .block3parts__column.block3parts__column--b
                                a.block3parts__item.item(href="#")
                                    span.item__logo
                                        img.item__logo-img(src="src/img/logo5.png")
                                    span.item__image
                                        img.item__image-img(src="src/img/middle4.jpg")
                    section.block3parts
                        .block3parts__row
                            .block3parts__column
                                a.block3parts__item.item(href="#")
                                    span.item__logo
                                        img.item__logo-img(src="src/img/logo5.png")
                                    span.item__image
                                        img.item__image-img(src="src/img/middle5.jpg")
                            .block3parts__column
                                .block3parts__content.block
                                    .block__icon
                                        img(src="src/img/icon4.png")
                                    .block__title retrò Bike - M. Hulot
                                    .block__text.block__text--small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                                .block3parts__img-block
                                    img.block3parts__img(src="src/img/middle7.jpg")
                            .block3parts__column
                                a.block3parts__item.item(href="#")
                                    span.item__logo
                                        img.item__logo-img(src="src/img/logo5.png")
                                    span.item__image
                                        img.item__image-img(src="src/img/middle6.jpg")
                    section.slider
                        .block
                            .block__icon
                                img(src="src/img/icon5.png")
                            .block__title AOD New York  @aod 
                            .block__title.italic /  35 min
                            .block__text.italic Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    section.block3parts
                        .block3parts__row
                            .block3parts__column
                                .block3parts__row
                                    .block3parts__img-block
                                        img.block3parts__img(src="src/img/middle8.jpg")
                                    .block3parts__img-block
                                        img.block3parts__img(src="src/img/middle10.jpg")
                                .block3parts__img-block
                                    img.block3parts__img(src="src/img/middle9.jpg")    
                            .block3parts__column.block3parts__column--s
                                .block3parts__img-block
                                    img.block3parts__img(src="src/img/middle11.jpg")
                            .block3parts__column.block3parts__column--s
                                .block3parts__img-block
                                    img.block3parts__img(src="src/img/h1.jpg")
                            .block3parts__column
                                .block3parts__img-block
                                    img.block3parts__img(src="src/img/h2.jpg")  
                                .block3parts__row
                                    .block3parts__img-block
                                        img.block3parts__img(src="src/img/h3.jpg")
                                    .block3parts__img-block
                                        img.block3parts__img(src="src/img/h4.jpg") 
                    section.block5
                        button.block5__btn discover the shop
                    section.block6
                        .container
                            img.block6__logo.logo(src="src/img/logo3.png")
                            p.block__text.italic Stay on the saddle!
                            form.block6__form#form(action="" method="get")
                                input.block6__input(type="email" placeholder="enter your email")
                                input.block6__submit(type="submit" value="GO")
                    include footer.pug
                        
            
