/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {overflow: hidden;}
/* Лента слайдов */
.slick-track{display: flex;}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}


.slider {
    padding: 120px 0 60px 0;
    background-color: #f7f7f7;
    @media (max-width:899px) {
        padding: 100px 0 60px 0;
    }  
    @media (max-width:767px) {
        padding: 60px 0 60px 0;
    }  
    }

.js-slider .slick-dots{
   display: flex;
   justify-content: center;
   align-items: center;
}

.js-slider .slick-dots li{
    margin-right: 10px;
    &:last-child {margin-right: 0;}
}

.js-slider .slick-dots li.slick-active button{
    background-color: rgb(169, 175, 179);
    width: 11.5px;
    height: 11.5px;
}

.js-slider .slick-dots li button{
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: transparent;
    border: rgb(169, 175, 179) 1px solid;
}

  