@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
@import "_all-va-bles.scss";
@import "_null.scss";
// Lato

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container {
    max-width: 1130px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main-screen {
    background: url(src/img/main.jpg) no-repeat center;
    opacity: 0.5;
    background-size: cover;
    font-size: 0;
    flex: 1 0 100%;
    margin-top: 80px;
}
.logo {
    opacity: 0.3;
    max-width: 50px;
    max-height: 50px; 
}

.title {
    @include Lato($fw:700);
    color: rgb(53, 55, 56);
    text-transform: uppercase;
    text-align: center;
}

.text {
    @include Lato();
    color: rgb(132, 135, 137);
    line-height: 1.889;
    text-align: center;
}

.icon {
    &__rel-pos {
        position: relative;
    }

    &__abs-pos {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
.italic {
    font-style: italic;
}
.flex {
    display: flex;
    font-size: 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
    font-size: 0;
}
.flex66 {
    flex: 0 0 66.6666%;
}

.flex33 {
    flex: 0 0 33.3333%;
}
.header {
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    &::before {
        
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(233, 205, 168);
    }

    &__row {
        justify-content: center;
        align-items: center;
        height: 85px;
    }
&__menu-body{
    position: relative;
    z-index: 200;
}
    
    &__menu-li {
        margin-right: 70px;

        &:nth-child(2) {
            margin-right: 90px;
        }

        &:nth-child(3) {
            margin-left: 90px;
        }

        &:last-child {
            margin-right: 0;
        }

    }

    &__menu-logo {
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate3d(-50%, 0, 0);
    }

    &__menu-link {
        @include Lato($fw:700, $fsz:13px);
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2.6px;

        &:hover {
            color: rgb(53, 53, 54);
            border-bottom: 1px dotted rgb(30, 29, 41);
        }
    }  
}
.menu-icon {
    display: none;
}
@media (max-width:767px) {
    .header__menu {
        position: relative;
        z-index: 100;
        overflow: auto;
    }
    .lock {
        overflow: hidden;
    }
    .header__menu-body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -1000%;
        left: 0;
        background-color: rgb(53, 53, 54);
        overflow: hidden;
        z-index: 50;
    }
    
    .header__menu-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        position: relative;
        z-index: 1000;
    }
    .header__menu-li {
        margin: 0 0 35px 0;
        &:nth-child(2),
        &:nth-child(3) {
            margin: 0 0 35px 0;
        }
        &:last-child {margin: 0;}

    }
    .header__menu-link {
        color: #fff;
        font-size: 20px;
        &:hover {
            background-color: #000;
        }
    }
    .header__menu-logo {
        display: none;
    }
    .menu-icon {
        display: block;
        position: fixed;
        top: 35px;
        right: 50px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5000;
        &__span{
            -webkit-transition: all 0.15s ease 0s;
            -moz-transition: all 0.15s ease 0s;
            -o-transition: all 0.15s ease 0s;
            transition: all 0.15s ease 0s;
        top: 7px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 3.5px;
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 24px 2px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 2px 24px 2px rgba(0,0,0,0.33);
        box-shadow: 0px 2px 24px 2px rgba(0,0,0,0.33);
        border: 0.1px solid rgb(30, 29, 41);
        &:first-child{top: 0;}
        &:last-child{top: auto;bottom: 0;}
        }
    }
    .active {
        
        transform: scale(0);
        &:first-child{transform: rotate(-45deg);top: 7px;}
        &:last-child{transform: rotate(45deg);bottom: 7px;}
        
    }
    .active2{
        top: 0;
        -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    }
    
}




.block-text {

    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin-bottom: 30px;
        margin-top: 100px;
    }

    &__title {

        margin-bottom: 30px;
    }

    &__text {
        padding: 0 70px;
        margin-bottom: 100px;
    }
    &__text--small {
    font-size: 16px;
    line-height: 1.875;
    text-align: justifyLeft;
    }
}

  


.block1 {
    flex: 0 0 1600px;

    &__photo {max-width: 100%;}

    &__icon {}
}

.block-text-photo {

    &__photo {}
    &__img {max-width: 100%;}
}





.block2 {
    flex: 0 0 1600px;
    &__photo-icon {}

    &__photo {max-width: 100%;}

    &__img {}
}

.block3 {
    flex: 0 0 1600px;
    &__photo-icon {}

    &__photo {max-width: 100%;}

    &__ {}

    &__photo2 {max-width: 100%;}
}

.slider {
    max-width: 1600px;
}



.block4 {
    flex: 0 0 1600px;
    &__photo-block1 {}

    &__photo-photos {}

    &__photo1 {max-width: 100%;}

    &__photo2 {max-width: 100%;}

    &__photo3 {max-width: 100%;}

    &__photo-block2 {}

    &__photo4 {max-width: 100%;}

    &__photo5 {max-width: 100%;}

    &__photo-block3 {}

    &__photo-icon {}

    &__photo6 {max-width: 100%;}

    &__icon {}

    &__photo7 {max-width: 100%;}

    &__photo8 {max-width: 100%;}
}

.block5 {

    &__btn {}
}

.block6 {

    &__logo {}

    &__form {}

    &__input {}

    &__submit {}
}

.block {

    &__text {}
}

.footer {

    &__text {}

    &__social {}

    &__link {}

    &__icon {}

    &__logo {}
}